$red: #FF8E8E;
$dark-grey: #444444;

.blocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 52px;
  // margin: 0 auto;

  .sidebar {
    max-width: 244px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: 50px;

    .sidebar-block {
      display: flex;
      flex-direction: column;
      gap: 30px;
      

      h3 {
        font-size: 24px;
      }

      h3::after {
        content: ' ';
        padding-top: 10px;
        border-bottom: 2px solid #000;
        display: block;
        width: 100%;
      }

      .content {
        gap: 7px;
        color: $dark-grey;

        .filterCat {
          cursor: pointer;
          display: flex;
          align-items: center;
          
        }

        .filterCat::before {
          content: url(../../img/filter-dot.svg);
          padding-right: 12px;
          // display: flex;
          // align-items: center;
        }

        .active {
          color: $red; 
          
        }

        .active::before {
          content: url(../../img/filter-line.svg);
          font-weight: 900;
        }


      }
    }

    .search {

    }

    .categories {

    }

    .price {

    }

    .colors {

    }
  }

  .products {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 846px;
    width: 100%;
    justify-content: flex-end;
    // padding-top: 174px;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .amount {
        font-weight: 400;
        font-size: 16px;

        p {
          span {
            font-weight: 600;
          }
        }
      }

      .sort {
        .select {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 50px;
      justify-content: center;
    }
  }


}