@import '../constants/global.scss';

.blocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 52px;

  .sidebar {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 244px;
    width: 100%;
    padding: 0 2px;
    display: flex;
    flex-direction: column;
    gap: 50px;


    .sidebar-block {
      display: flex;
      flex-direction: column;
      gap: 30px;
      
      h3 {
        font-size: 24px;
      }

      h3::after {
        content: ' ';
        padding-top: 10px;
        border-bottom: 2px solid #000;
        display: block;
        width: 100%;
      }

      .content {
        gap: 7px;
        color: $dark-grey;
        padding: 0 20px;

        .filterCat {
          cursor: pointer;
          display: flex;
          align-items: center;
          
        }

        .filterCat::before {
          margin-right: 12px;
          content: '';
          display: block;
          width: 5px;
          height: 5px;
          background-color: $dark-grey;

        }

        .active {
          color: $red;  
        }

        .active::before {
          content: '';
          display: block;
          max-width: 25px;
          width: 100%;
          height: 2px;
          background-color: $red;
          align-self: center;
        }

        .color-block {
          display: flex;
          align-items: center;
          gap: 14px;
          cursor: pointer;
          position: relative;

          .square {
            border: 1px solid $light-grey;
            max-width: 15px;
            max-height: 15px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .checked {
          color: $red;
        }
      }

      .button {
        font-family: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 236px;
        max-height: 50px;
        width: 100%;
        height: 100%;
        padding: 15px 30px;
        background-color: #000;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
      }

      .button::after {
        content: '';
        border-right: 2px solid #000;
        margin-left: 2px;
      }

      .btn-after {
        border-right: 2px solid #000;
      }

     
    }
    // END sidebar-block

    .btn-block {
      display: flex;
      flex-direction: row;
      gap: 2px;
      min-width: 236px;
      max-height: 50px;
      width: 100%;
      height: 100%;

    }

    .sale-banner {
      background-color: #000;
      padding: 10px;
      font-family: 'Raleway', sans-serif;
      max-width: 242px;
      width: 100%;

      .sale-inner {
        border: 2px solid #fff;
        color: #fff;
        padding: 73px 14px 73px 39px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .header {
          font-size: 60px;
          font-weight: 800;

          .header-first {
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 10px;
          }
        }

        .sale-content {
          font-size: 14px;
          font-weight: 500;
          line-height: 150%;
        }

        .target {
          font-size: 16px;
          font-weight: 600;
          display: flex;
          gap: 14px;
        }

        .target::before {
          content: '';
          display: block;
          width: 25px;
          height: 2px;
          background-color: #fff;
          align-self: center;
        }
      }
    }

      .search {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid $light-grey;
  
        input {
          font-family: 'Raleway', sans-serif;
          outline: none;
          padding-bottom: 16px;
          max-width: 360px;
          width: 100%;
          border: none;
          font-size: 14px;
        }
  
      }
  }

  .products {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 846px;
    width: 100%;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .amount {
        font-weight: 400;
        font-size: 16px;

        p {
          span {
            font-weight: 600;
          }
        }
      }

      .sort {
        .select {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 50px;
      justify-content: center;
    }
  }


}