@import '../../constants/global.scss';

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 21px;
  margin: 0 auto;

  .item-image {
    background-color: #F1F2F3;
    position: relative;
    max-width: 262px;
    max-height: 360px;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    .item-status {
      position: absolute;
      max-width: 45px;
      max-height: 20px;
      width: 100%;
      height: 100%;
      left: 20px;
      top: 20px;
    }

    .like {
      position: absolute;
      right: 20px;
      top: 20px;  
      cursor: pointer; 

      &:hover {
        path {
          fill: $red;
        }
      }
    }

    .active path {
      fill: $red;
    }
  }

  .card-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 9px;
    color: $dark-grey;

    .item-name {
      font-weight: normal;
      font-size: 16px;
    }

    .card-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .prices {
        display: flex;
        flex-direction: row;
        gap: 18px;
        align-items: flex-end;
        justify-content: flex-start;

        .current-price {
          font-size: 20px;
        }

        .old-price {
          font-weight: 300;
          font-size: 16px;
          text-decoration-line: line-through;
        }
      }

      .addBtn {
        max-width: 40px;
        width: 100%;
        border-radius: 10px;
        background-color: $light-green;
        color: #fff;
        font-size: 24px;
        align-items: center;
        transition: all 0.2s ease;
      }

      .added {
        background-color: $dark-green;
      }

      .addBtn:hover {
        background-color: $dark-green;
      }
    }
  }
}